<div id="filters">
    <div class="filter">
        <i class="fa-solid fa-fire-flame-curved"></i>
        <span>Trending</span>
    </div>

    <div class="filter">
        <i class="fa-solid fa-person-shelter"></i>
        <span>Rooms</span>
    </div>

    <div class="filter">
        <i class="fa-solid fa-fire-flame-curved"></i>
        <span>Iconic cities</span>
    </div>

    <div class="filter">
        <i class="fa-solid fa-mountain"></i>            
        <span>Mountains</span>
    </div>

    <div class="filter">
        <i class="fa-brands fa-fort-awesome"></i>
        <span>Castles</span>
    </div>

    <div class="filter">
        <i class="fa-solid fa-person-swimming"></i>
        <span>Amazing pools</span>
    </div>
    
    <div class="filter">
        <i class="fa-solid fa-campground"></i>
        <span>Camping</span>
    </div>

    <div class="filter">
        <i class="fa-solid fa-cow"></i>
        <span>Farms</span>
    </div>

    <div class="filter">
        <i class="fa-solid fa-snowflake"></i>
        <span>Arctic</span>
    </div>
</div>