<div id="filters">
    <a href="/listings/filter?category=trending" class="filter-link">
        <div class="filter">
            <i class="fa-solid fa-fire-flame-curved"></i>
            <span>Trending</span>
        </div>
    </a>

    <a href="/listings/filter?category=comfort-rooms" class="filter-link">
        <div class="filter">
            <i class="fa-solid fa-person-shelter"></i>
            <span>Rooms</span>
        </div>
    </a>

    <a href="/listings/filter?category=iconic-city" class="filter-link">
        <div class="filter">
            <i class="fa-solid fa-fire-flame-curved"></i>
            <span>Iconic cities</span>
        </div>
    </a>

    <a href="/listings/filter?category=mountains" class="filter-link">    
        <div class="filter">
            <i class="fa-solid fa-mountain"></i>            
            <span>Mountains</span>
        </div>
    </a>

    <a href="/listings/filter?category=castles" class="filter-link">
        <div class="filter">
            <i class="fa-brands fa-fort-awesome"></i>
            <span>Castles</span>
        </div>
    </a>

    <a href="/listings/filter?category=pools" class="filter-link">
        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <span>Amazing pools</span>
        </div>
    </a>
    
    <a href="/listings/filter?category=camps" class="filter-link">
        <div class="filter">
            <i class="fa-solid fa-campground"></i>
            <span>Camping</span>
        </div>
    </a>

    <a href="/listings/filter?category=farms" class="filter-link">
        <div class="filter">
            <i class="fa-solid fa-cow"></i>
            <span>Farms</span>
        </div>
    </a>

    <a href="/listings/filter?category=beaches" class="filter-link">
        <div class="filter">
            <i class="fa-solid fa-snowflake"></i>
            <span>Arctic</span>
        </div>
    </a>
</div>