<% if(success.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show fs-6" role="alert"> 
        <strong> <%= success %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %> 