<div class="f-info">
    <div class="socials">
        <a href="https://github.com/VinayNoogler000/Airbnb-Clone" target="_blank"> <i class="fa-brands fa-square-github"></i> </a>
        <a href="https://www.youtube.com/@vinaytambey8250" target="_blank"> <i class="fa-brands fa-square-youtube"></i> </a>
        <a href="https://www.linkedin.com/in/vinaytambey/" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a>
        <a href="https://x.com/VinayNoogler000" target="_blank"> <i class="fa-brands fa-square-x-twitter"></i> </a>
        <a href="https://www.instagram.com/vinaynoogler07" target="_blank"> <i class="fa-brands fa-square-instagram"></i> </a>
        <a href="https://www.threads.com/@vinaynoogler07" target="_blank"> <i class="fa-brands fa-square-threads"></i> </a>
    </div>

    <p class="copyright">&copy; 2025 WonderLust Pvt. Ltd. <br> All rights reserved.</p>

    <div class="links">
        <a href="/">Privacy Policy</a>
        <a href="/">Terms of Service</a>
    </div>
</div>