<% layout("layouts/boilerplate.ejs") %>

<body>
    <div class="row">
        <div class="alert alert-danger col-12 mx-auto" role="alert">
            <h4 class="alert-msg"> <%= message %> </h4>
        </div>
    </div>
</body>