/* NavBar Styles */
.navbar {
    max-height: 5.5rem;
    padding: 1rem !important;
    background-color: #f8f9fa;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
    .navbar {
        max-height: fit-content;
    }
}

.offcanvas {
    height: fit-content;
}

/* NavBar Brand Styling */
.navbar-brand {
    transform: translateY(0.125rem);
}

.navbar-brand i {
    color: #fe424d;
    font-size: 2rem;
}

/* NavBar Title Styling */
.offcanvas-title {
    color: #fe424d;
}

/* Search Styles */
.nav-search {
    min-width: 375px;
}

.nav-search input {
    font-weight: 600;
    border-radius: 1.5rem;
    border-width: 2px;
    padding: 0 1rem !important;
    padding-left: 1.35rem !important;
}

.nav-search input:focus {
    border-color: #fe424d !important;
    box-shadow: 0 0 0 .25rem rgba(254, 66, 77, .25);
}

.nav-search .search-btn {
    color: white;
    border: 2px solid transparent !important;
    border-radius: 1.5rem;
    background-color: #fe424d !important;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.nav-search .search-btn:hover {
    background-color: #e33a45 !important;
}

.nav-search .search-btn:active {
    color: #fe424d;
    background-color: white !important;
    border: 2px solid #fe424d !important;
}

/* Nav Links Styles */
.nav-link {
    color: #222222 !important;
    border: 2px solid transparent;
    border-radius: 0.5rem;
}

.nav-link:hover {
    color: #fe424d !important;

}

/* Responsive Styling */
@media (max-width: 950px) {
    .nav-search {
        min-width: 300px !important;
    }

    .search-btn .text {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav-link:hover {
        border-top-color: #fe424d;
        border-bottom-color:  #fe424d;
    }
}